form{
    width: 500px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

#prijava{
    background-color: #f5f5f5;  /*ne*/
    border-bottom: 1px solid #dddddd;
    font-size: 13pt;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tijelo{
    margin: 15px;
}

#h2{    /*ne*/
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 15px;
}

label{
    font-weight: bold;
}

input{
    border: 1px solid #dddddd;  /*ne*/
    border-radius: 4px;
    height: 28px;
    width: 100%;
    margin-top: 2px;
    padding: 12px;
}

#em{
    margin-bottom: 8px;
}